<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1039536580500-hhhfu2fmplonkdvv604ipmqs4id3366q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039536580500-hhhfu2fmplonkdvv604ipmqs4id3366q</string>
	<key>API_KEY</key>
	<string>AIzaSyC_C72r-KDinfnGl84LAeuAQzJvhcBVMho</string>
	<key>GCM_SENDER_ID</key>
	<string>1039536580500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talkTekApp</string>
	<key>PROJECT_ID</key>
	<string>talktek-4edac</string>
	<key>STORAGE_BUCKET</key>
	<string>talktek-4edac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039536580500:ios:ad089e6803bbc387</string>
	<key>DATABASE_URL</key>
	<string>https://talktek-4edac.firebaseio.com</string>
</dict>
</plist>